
/* Start breadcrumb */

.my-breadcrumb
{
    direction: rtl;
    font-size: 18px;
    background-color: #aeaeae17;
}

/* End breadcrumb */

/* Start article */

.article
{
    margin-bottom: 30px
}

.article p
{
    margin-bottom: 40px
}
.article span
{
    color:  #c0392b;
}

.article img
{
    background: #f7f7f8
}


/* End article */