
/* Start breadcrumb */

.my-breadcrumb
{
    direction: rtl;
    font-size: 18px;
    background-color: #aeaeae17;
}

/* End breadcrumb */

/* Start article */

.article
{
    margin-bottom: 30px
}


.article .card
{
    margin-bottom: 25px;
    background: #f6f6f6;
    min-height: 96%;
}


.article .card h4
{
    color: #c0392b;
    font-size: 1.8em
}
/* End article */